body {
  font-family: "Segoe UI", sans-serif;
  margin: 0;
  background: #f9f9f9;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
background: #a4c9d2;
  color: #000000;
    padding: 15px 20px;
    position: sticky;
top: 0;
left: 0;
 
}

.navbar .logo {
  width: auto;   /* let the content decide */
  height: auto;
  display: flex;
}



.navbar .logo img {
  width: 40px;   /* set a proper size */
  height: auto;  /* keeps aspect ratio */
}

.navbar .logo div{
  font-size: 30px;
  font-weight: 600;

}

.navbar nav {
  display: flex;
}

.navbar nav div{
  margin-left: 20px;
  color: #000000;
  text-decoration: none;
  padding: 5px;
  border-radius: 5px;
  font-weight: 500;
}

.navbar nav div:hover {
  background-color: #453f98ab;
  color: #fff;
}


.logout-btn {
   margin-left: 15px;
  padding: 6px 12px;
  border-radius: 6px;
  color: #fff;
  background: #e74c3c;
  transition: 0.3s;
}

.logout-btn:hover {
  background: #c0392b;
}

.custom-container {
  max-width: 500px;
  margin: 40px auto;
  background: #fff;
  padding: 25px;
  border-radius: 12px;
  box-shadow: 0px 4px 15px rgba(0,0,0,0.1);
}

h1 {
  text-align: center;
  margin-bottom: 20px;
}

label {
  display: block;
  margin-top: 15px;
  font-weight: 500;
}

select, input[type="number"], .start-btn {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  border-radius: 8px;
  border: 1px solid #ccc;
}

.start-btn {
  background: #4a90e2;
  color: white;
  font-size: 1.1rem;
  margin-top: 20px;
  cursor: pointer;
  border: none;
}

.start-btn:hover {
  background: #357ab8;
}
